* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body {
  background: grey;
  

}

.cursor {
  cursor: pointer;
}

.chose{
  padding-left: 10px;
  padding-right: 10px;
}
ul{
  padding: 0 ;
}


.checked{
  text-decoration: line-through;
}
.redNotice{
  color: red;
}