* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body {
  background: grey;
  

}
p{
  padding-left: 20px;
  padding-right: 20px;
}
span{
  padding-left: 20px;
  padding-right: 20px;
}
button{
  margin-left: 20px;
}
.cursor {
  cursor: pointer;
}
main{
margin-top: 100px;
}


.checked{
  text-decoration: line-through;
}
.redNotice{
  color: red;
}