* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ul {
  list-style: none;
  padding-left: 0;
  width: 50%;
}
.tast-options {
  padding-right: 5px;
}
body {
  background: grey;
}
.cursor {
  cursor: pointer;
}
#task label {
  width: 150px;
}
#task input,
p,
span {
  margin: auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked{
  text-decoration: line-through;
}